<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	</startup>
	<appSettings>
		<add key="directory" value="/home/fahim/AndroidStudioProjects/context_based_mobile_app_testing-master/ExampleTestProject_AndroidStudio_v5.3/app/build/outputs/apk/app-debug.apk>
		<add key="appPath" value="/home/fahim/AndroidStudioProjects/context_based_mobile_app_testing-master/ExampleTestProject_AndroidStudio_v5.3/app/build/outputs/apk/" />
		<add key="adbPath" value="/home/fahim/Android/Sdk/platform-tools/adb" />
		<add key="avdPath" value="/home/fuad/PycharmProjects/test_1/avds.txt" />
		<add key="emulatorPath" value="/home/fahim/Android/Sdk/tools/emulator" />
	</appSettings>
</configuration>
